<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header>
            <h1>喬不攏智慧管理平台</h1>
           <nav>
                <ul>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('logout')}}">登出系統</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('login')}}">登入系統</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('register')}}">註冊帳號</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
    </header>
    <main>
    {% block content %}{% endblock %}
    </main>

</body>
</html>