{% extends "base.html" %}
{% block title %} 首頁 ｜Login Exp{% endblock %}
{% block content %}
<form method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    <div class="form-group">
    {{ form.user_account.label }}
    {{ form.user_account(class_="form-control form-control-lg") }}
    </div>
    <div class="form-group">
    {{ form.user_password.label }}
    {{ form.user_password(class_="form-control form-control-lg") }}
    </div>
    {{form.submit(class_="btn btn-primary btn-lg")}}
</form>

{% for message in get_flashed_messages() %}
<div>
    {{message}}
</div>
{% endfor %}

{% endblock %}
